# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# IDE-specific files
.vscode/
.idea/


# Allow essential scripts to be tracked
!scripts/analysis.py
!scripts/data_preprocessor.py
!scripts/gemini_report.py
!scripts/google_api.py
!scripts/local_main.py
!scripts/local_main-without-gemini.py
!scripts/presentation.py
!scripts/recommendations.py

# Ignore markdown files by default
*.md

# Allow documentation and requirements
!README.md
!CUSTOMIZATION.md
!requirements.txt

# Ignore sandbox files
sandbox.py
backup/
# Sensitive data and inputs
detected_events.csv
inputs/
